# Gradle files
.gradle/
build/
.gradletasknamecache

# Local configuration file (sdk path, etc)
local.properties

# Log/OS Files
*.log
.DS_Store

# Android Studio
.idea/
*.iml
*.iws
*.ipr
*.apk
*.ap_
*.aab
*.so
*.jnilib
*.keystore
*.jks
*.kts.d
.externalNativeBuild/
.cxx/

# Keystore files
*.jks
*.keystore

# Google Play security file
key.properties

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# ktlint
.ktlint

# R.java
R.java.d

# Unit test / coverage reports
coverage/
*.exec
*.ec

# Misc
/.idea/
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
